@model UserWrapper
<div class="container">
    <form asp-action="CreateCompany" asp-controller="Home" method="POST">
        <span class="text-danger" asp-validation-for="CurrentCompany.Name"></span>
        <div class="row">
            <div class="form-group d-flex flex-column justify-content-between">
                <label asp-for="CurrentCompany.Name"></label>
                <input asp-for="CurrentCompany.Name">
            </div>
        </div>
        <span class="text-danger" asp-validation-for="CurrentCompany.Description"></span>
        <div class="row">
            <div class="form-group d-flex flex-column justify-content-between">
                <label asp-for="CurrentCompany.Description"></label>
                <input asp-for="CurrentCompany.Description">
            </div>
        </div>
        <div class="row">
            <div class="form-group d-flex flex-column justify-content-between">
                <label asp-for="CurrentCompany.Notes"></label>
                <input asp-for="CurrentCompany.Notes">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create Company</button>
    </form>
</div>